@charset "UTF-8";

// Настройка с библиотекой

// Изменить параметры по умолчанию
@use 'library/sumbiot/general/variables' with (
  $container: (
    sm: (breakpoint: 576px, max-width: 540px),
    md: (breakpoint: 768px, max-width: 720px),
    lg: (breakpoint: 992px, max-width: 960px),
    xl: (breakpoint: 1200px, max-width: 1200px),
  ),

  $font-size-basic: 14px,
  $font-family-basic: "Montserrat",

  $line-height-basic: 1.22,

  $success: #41BE94,
  $danger: #E41E2F
);

// Шрифты
@use "fonts";

// Библиотека
@use "library/sumbiot";

// Блоки
@use "components/slider";
@use "components/burger";
@use "components/logo";
@use "components/contacts";
@use "components/menu";
@use "components/title";
@use "components/form";
@use "components/table";
@use "components/breadcrumbs";
@use "components/btn";
@use "components/hospital";
@use "components/modal";
@use "components/datepicker";
@use "components/select2";

@use "components/page";
@use "components/header";
@use "components/navigation";
@use "components/info";
@use "components/working-scheme";
@use "components/registration";
@use "components/entry";
@use "components/personal";
@use "components/sidebar";
@use "components/content";
@use "components/footer";




