
<div class="entry">

  <div class="sContainer">

    <div class="entry__inner">

      <form class="entry__form sForm sForm--entry" id="entry" action="" method="post">

        <div class="sForm__inner sG-row-gap-20 sG-column-gap-20">

          <label class="sForm__item">
            <span class="sForm__label">Логин</span>
            <input class="sForm__input js-required-validate" type="text" name="login" placeholder="email@email.com">
          </label>

          <label class="sForm__item">
            <span class="sForm__label">Пароль</span>
            <input class="sForm__input js-required-validate" type="password" name="password" placeholder="Введите пароль">
          </label>

          <div class="sForm__item">
            <button class="btn btn--primary" type="submit">Вход</button>
          </div>

        </div><!--/.sForm__inner-->

      </form><!--/.sForm-->

    </div><!--/.registration__inner-->

  </div><!--/.sContainer-->
</div><!--/.registration-->
