
<footer class="footer">
  <div class="sContainer">

    <div class="footer__inner">

      <a href="" class="footer__logo logo">
        <img class="logo__img" src="assets/img/logo-footer.svg" width="187" height="21" alt="Логотип MED.PROGRESS">
      </a><!--/.logo-->

      <ul class="footer__menu menu">
        <li class="menu__item">
          <a href="" class="menu__link">Главная</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link">Сервисы</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link">О нас</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link">Другие страницы</a>
        </li>
      </ul><!--/.menu-->

    </div><!--/.footer__inner-->

  </div><!--/.sContainer-->
</footer><!--/.footer-->
