<header class="header">
  <div class="sContainer">

    <div class="header__inner">

      <a href="" class="header__logo logo">
        <img class="logo__img" src="assets/img/logo.svg" width="180" height="21" alt="Логотип MED.PROGRESS">
      </a><!--/.logo-->

      <a class="header__phone" href="tel:+79991234567">+7 (999) 123 45 67</a>

      <nav class="header__navigation navigation">

        <button class="navigation__burger js-burger" type="button">
          <span class="visually-hidden">Открыть меню</span>
        </button><!--/.burger-->

        <div class="navigation__inner">

          <div class="sRow">

            <div class="sCol-6">

              <div class="navigation__menu-inner">

                <h2 class="navigation__title title">Меню</h2>

                <ul class="navigation__menu menu">
                  <li class="menu__item">
                    <a href="" class="menu__link">Главная</a>
                  </li>
                  <li class="menu__item">
                    <a href="" class="menu__link">Сервисы</a>
                  </li>
                  <li class="menu__item">
                    <a href="" class="menu__link">О нас</a>
                  </li>
                </ul><!--/.menu-->

                <ul class="navigation__menu menu">
                  <li class="menu__item">
                    <a href="" class="menu__link">
                      <svg width="30" height="30" aria-hidden="true">
                        <use xlink:href="assets/img/sprite/sprite.svg#icon-user"/>
                      </svg>
                      Врачи
                    </a>
                  </li>
                  <li class="menu__item">
                    <a href="" class="menu__link">
                      <svg width="30" height="30" aria-hidden="true">
                        <use xlink:href="assets/img/sprite/sprite.svg#icon-card"/>
                      </svg>
                      Новости
                    </a>
                  </li>
                  <li class="menu__item">
                    <a href="" class="menu__link">
                      <svg width="30" height="30" aria-hidden="true">
                        <use xlink:href="assets/img/sprite/sprite.svg#icon-edit"/>
                      </svg>
                      Редактор блоков
                    </a>
                  </li>
                  <li class="menu__item">
                    <a href="" class="menu__link">
                      <svg width="30" height="30" aria-hidden="true">
                        <use xlink:href="assets/img/sprite/sprite.svg#icon-exit"/>
                      </svg>
                      Выйти
                    </a>
                  </li>
                </ul><!--/.menu-->

              </div>

            </div>

            <div class="sCol-6">

              <address class="navigation__contacts-inner">

                <h2 class="navigation__title title">Контакты</h2>

                <ul class="navigation__contacts contacts">
                  <li class="contacts__item contacts__item--mail">
                    <a class="contacts__link" href="mailto:info@circleschool.ru">info@circleschool.ru</a>
                  </li>
                  <li class="contacts__item contacts__item--phone">
                    <a class="contacts__link" href="tel:+79991234567">+7 (999) 123 45 67</a>
                  </li>
                  <li class="contacts__item contacts__item--marker">
                    <p class="contacts__address">
                      ООО «CIRCLE SCHOOL» <br>
                      ИНН 0273908137 <br>
                      КПП 027701001 <br>
                      ОГРН 1160280082896
                    </p>
                    <p class="contacts__address">
                      450065, Республика Башкортостан, <br>
                      г. Уфа, ул. Карла Маркса, 3Б, офис 403 <br>
                      по будням с 9:00 до 18:00
                    </p>
                  </li>
                </ul><!--/.contacts-->

              </address>

            </div>

          </div>

        </div>

      </nav><!--/.navigation-->

    </div><!--/.header__inner-->

  </div><!--/.sContainer-->
</header><!--/.header-->


