
<div class="info">

  <div class="sContainer">

    <div class="info__inner">

      <div class="sRow">

        <div class="sCol">

          <h1 class="info__title title">Единая система оплаты медицинских учреждений</h1>

          <p class="info__subtitle">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>

          <form class="info__form sForm" action="" method="post">

            <div class="sForm__inner">

              <div class="sForm__item">
                <label class="visually-hidden" for="login">Введите логин</label>
                <input class="sForm__input" id="login" type="text" name="login" placeholder="email@email.com">
              </div>

              <div class="sForm__item">
                <label class="visually-hidden" for="password">Введите пароль</label>
                <div class="sForm__password-inner">
                  <input class="sForm__input" id="password" type="password" name="password">
                  <button type="button" class="sForm__eye" title="Заказать пароль"></button>
                </div>
                <a class="sForm__link" href="">Восстановить пароль</a>
              </div>

              <div class="sForm__item sForm__item--column-6">
                <a class="info__button sBtn sBtn-primary" href="registration.html">Зарегистрироваться</a>
              </div>

              <div class="sForm__item sForm__item--column-6">
                <button class="info__button sBtn sBtn-primary" type="submit">Войти</button>
              </div>

            </div>

          </form><!--/.sForm-->

        </div>

        <div class="sCol">

          <ul class="info__slider slider">
            <li>
              <img class="slider__img" src="assets/img/slide.svg" width="580" height="450" alt="">
              <p class="slider__text">медицинские учреждени</p>
            </li>
            <li>
              <img class="slider__img" src="assets/img/slide.svg" width="580" height="450" alt="">
              <p class="slider__text">медицинские учреждени</p>
            </li>
            <li>
              <img class="slider__img" src="assets/img/slide.svg" width="580" height="450" alt="">
              <p class="slider__text">медицинские учреждени</p>
            </li>
          </ul><!--/.slider-->

        </div>

      </div>

    </div><!--/.info__inner-->

  </div><!--/.sContainer-->
</div><!--/.info-->
