
<section class="modal">

  <div class="sContainer">

    <div class="modal__inner">

      <h2 class="modal__title">Заявка на запись отправлена</h2>

      <p class="modal__message">Отслеживайте статус записи в личном кабинете</p>

      <div class="modal__wrapper-btn">
        <a class="modal__btn sBtn" href="">В личный кабинет</a>
        <a class="modal__btn sBtn" href="">Продолжить</a>
      </div>
    </div><!--/.modal__inner"-->

  </div><!--/.sContainer-->

</section><!--/.modal-->

<section class="modal">

  <div class="sContainer">

    <div class="modal__inner">

      <h2 class="modal__title">Ошибка!</h2>

      <p class="modal__message">Повторите попытку позже</p>

      <div class="modal__wrapper-btn">
        <a class="modal__btn sBtn" href="">Назад</a>
      </div>
    </div><!--/.modal__inner"-->

  </div><!--/.sContainer-->

</section><!--/.modal-->
