
{{#ifpage 'personal-record-confirm' 'doctor-record-confirm'}}
<section class="modal modal--success" hidden>

  <div class="sContainer">

    <div class="modal__inner">

      <h2 class="modal__title">Заявка на запись отправлена</h2>

      <p class="modal__message">Отслеживайте статус записи в личном кабинете</p>

      <div class="modal__wrapper-btn">
        <a class="modal__btn btn btn--success" href="">В личный кабинет</a>
        <a class="modal__btn btn btn--cancel" href="">Продолжить</a>
      </div>
    </div><!--/.modal__inner"-->

  </div><!--/.sContainer-->

</section><!--/.modal-->
{{/ifpage}}



{{#ifpage 'personal-record-confirm' 'doctor-record-confirm'}}
<section class="modal modal--error" hidden>

  <div class="sContainer">

    <div class="modal__inner">

      <h2 class="modal__title sText-color-danger">Ошибка!</h2>

      <p class="modal__message">Повторите попытку позже</p>

      <a class="modal__btn btn btn--cancel" href="">Назад</a>
    </div><!--/.modal__inner"-->

  </div><!--/.sContainer-->

</section><!--/.modal-->
{{/ifpage}}



<!--{{#ifpage 'admin-users' 'registry-users' 'admin-history' 'registry-history' 'admin-news' 'registry-news' 'admin-list-page' 'registry-list-page'}}-->
<!--<section class="modal modal&#45;&#45;confirm" data-sumbiot-modal>-->

<!--    <div class="modal__inner">-->

<!--      <h2 class="modal__title sFz-14">Вы желаете удалить пользователя?</h2>-->

<!--      <div class="modal__wrapper-btn">-->
<!--        <a class="modal__btn btn btn&#45;&#45;error" href="">Удалить</a>-->
<!--        <a class="modal__btn btn btn&#45;&#45;cancel" href="" data-sumbiot-modal-close>Отмена</a>-->
<!--      </div>-->
<!--    </div>&lt;!&ndash;/.modal__inner"&ndash;&gt;-->

<!--</section>&lt;!&ndash;/.modal&ndash;&gt;-->
<!--{{/ifpage}}-->
