
{{#ifpage 'personal-record-confirm' 'doctor-record-confirm'}}
<section class="modal modal--success" hidden>

  <div class="sContainer">

    <div class="modal__inner">

      <h2 class="modal__title">Заявка на запись отправлена</h2>

      <p class="modal__message">Отслеживайте статус записи в личном кабинете</p>

      <div class="modal__wrapper-btn">
        <a class="modal__btn btn btn--success" href="">В личный кабинет</a>
        <a class="modal__btn btn btn--cancel" href="">Продолжить</a>
      </div>
    </div><!--/.modal__inner"-->

  </div><!--/.sContainer-->

</section><!--/.modal-->
{{/ifpage}}



{{#ifpage 'personal-record-confirm' 'doctor-record-confirm'}}
<section class="modal modal--error" hidden>

  <div class="sContainer">

    <div class="modal__inner">

      <h2 class="modal__title sText-color-danger" style="">Ошибка!</h2>

      <p class="modal__message">Повторите попытку позже</p>

      <a class="modal__btn btn btn--cancel" href="">Назад</a>
    </div><!--/.modal__inner"-->

  </div><!--/.sContainer-->

</section><!--/.modal-->
{{/ifpage}}



{{#ifpage 'admin-users' 'registry-users' 'admin-history' 'registry-history' 'admin-news' 'registry-news' 'admin-list-page' 'registry-list-page'}}
<section class="modal modal--confirm" hidden>

    <div class="modal__inner">

      <h2 class="modal__title">Вы желаете удалить пользователя?</h2>

      <div class="modal__wrapper-btn">
        <a class="modal__btn sBtn" href="">Удалить</a>
        <a class="modal__btn sBtn" href="">Отмена</a>
      </div>
    </div><!--/.modal__inner"-->

</section><!--/.modal-->
{{/ifpage}}
