
{{#ifpage 'personal-data' 'doctor-data'}}
<!--Личные данные-->
<form action="" class="sForm js-validate" method="post">

  <section class="content__box">
    <h2 class="content__title title sFw-500 sFz-18 sFz-lg-20 sText-transform-none">Личные данные</h2>

    <div class="sForm__inner sG-row-gap-20 sG-column-gap-20">

      <div class="sForm__item sForm__item--column-lg-6">
        <label class="visually-hidden" for="name">Имя</label>
        <input class="sForm__input" id="name" type="text" name="name" placeholder="Имя">
      </div>

      <div class="sForm__item sForm__item--column-lg-6">
        <label class="visually-hidden" for="family">Фамилия</label>
        <input class="sForm__input" id="family" type="text" name="family" placeholder="Фамилия">
      </div>

      <div class="sForm__item sForm__item--column-lg-6">
        <label class="visually-hidden" for="email">Почта</label>
        <input class="sForm__input js-email-validate" id="email" type="text" name="mail" placeholder="email@email.com">
      </div>

      <div class="sForm__item sForm__item--column-lg-6">
        <label class="visually-hidden" for="phone">Телефон</label>
        <input class="sForm__input js-phone" id="phone" type="tel" name="phone" placeholder="+7 (999) 123 45 67">
      </div>

      {{#ifpage 'doctor-data'}}
      <div class="sForm__item sForm__item--column-lg-6">
        <label class="visually-hidden" for="city">Город</label>
        <input class="sForm__input" id="city" type="text" name="city" placeholder="Город">
      </div>

      <div class="sForm__item sForm__item--column-lg-6">
        <label class="visually-hidden" for="organization">Телефон</label>
        <input class="sForm__input" id="organization" type="text" name="organization" placeholder="Организация">
      </div>
      {{/ifpage}}
    </div>

  </section><!--/.content__box-->


  <section class="content__box">
    <h2 class="content__title title sFw-500 sFz-18 sFz-lg-20 sText-transform-none">Изменить пароль</h2>

    <div class="sForm__inner">

      <div class="sForm__item sForm__item--column-lg-6">
        <label class="visually-hidden" for="password">Пароль</label>
        <input class="sForm__input" id="password" type="text" name="password" placeholder="Пароль">
      </div>

      <div class="sForm__item sForm__item--column-lg-6">
        <label class="visually-hidden" for="repeat_password">Повторите пароль</label>
        <input class="sForm__input js-password-validate" id="repeat_password" type="text" name="repeat_password" placeholder="Повторите пароль">
      </div>

    </div>

  </section><!--/.content__box-->

  <div class="sForm__inner">

    <div class="sForm__item sForm__item--column-lg-6">
      <button class="btn btn--primary" type="submit">Сохранить</button>
    </div>

  </div>

</form><!--/.sForm-->
{{/ifpage}}



{{#ifpage 'personal-hospitals-list'}}
<!--Медицинские учреждения-->
<div class="content__box">

  <h2 class="content__title title sFw-500 sFz-18 sFz-lg-20 sText-transform-none sD-md-flex sF-justify-content-md-between sF-align-items-sm-center">
    Мои медицинские учреждения
    <a href="" class="btn btn--transparent sD-none sD-md-inline-block sBox-shadow-none">Редактировать</a>
  </h2>

  <div class="sRow sGy-4">

    {{#repeat 3}}
    <div class="sCol-md-6 sCol-xl-4">

      <article class="hospital">
        <div class="hospital__inner">
          <div class="hospital__img">
            <picture>
              <source media="(min-width: 992px)" srcset="assets/img/icon-plug2.svg" type="image/svg+xml">
              <img class="" src="assets/img/icon-plug5.svg" width="300" height="125" alt="">
            </picture>
          </div>

          <div class="hospital__inner-content">

            <div class="hospital__content">
              <h3 class="hospital__title title sFw-500 sFz-16 sText-transform-none">Поликлиника 1</h3>

              <p class="hospital__description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>

            <a href="" class="hospital__btn btn btn--transparent">Узнать больше</a>

          </div>
        </div>
      </article><!--/.hospitals-->

    </div>
    {{/repeat}}
  </div>

</div><!--/.content__box-->

<div class="content__box sMb-0">

  <h2 class="content__title title sFw-500 sFz-18 sFz-lg-20 sText-transform-none sD-md-flex sF-justify-content-md-between sF-align-items-sm-center">
    Другие медицинские учреждения
    <a href="" class="btn btn--transparent sD-none sD-md-inline-block sBox-shadow-none">Посмотреть все</a>
  </h2>

  <div class="sRow sGy-4">

    {{#repeat 3}}
    <div class="sCol-md-6 sCol-xl-4">

      <article class="hospital">
        <div class="hospital__inner">
          <div class="hospital__img">
            <picture>
              <source media="(min-width: 992px)" srcset="assets/img/icon-plug2.svg" type="image/svg+xml">
              <img class="" src="assets/img/icon-plug5.svg" width="300" height="125" alt="">
            </picture>
          </div>

          <div class="hospital__inner-content">

            <div class="hospital__content">
              <h3 class="hospital__title title  sFw-500 sFz-16 sText-transform-none">Поликлиника 1</h3>

              <p class="hospital__description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
            </div>

            <a href="" class="hospital__btn btn btn--transparent">Узнать больше</a>

          </div>
        </div>
      </article><!--/.hospitals-->

    </div>
    {{/repeat}}
  </div>

</div><!--/.content__box-->
{{/ifpage}}



{{#ifpage 'personal-extract' 'doctor-extract'}}
<!--Выписка-->
<h2 class="content__title title sFw-500 sFz-18 sFz-lg-20 sMb-xl-40 sText-transform-none">Выписка</h2>

<div class="table table--odd table--v1">

  {{#repeat 7}}
  <div class="table__row">
    <div class="table__col">
      <span class="clip">Поликлиника 1</span>
    </div>
    <div class="table__col sText-align-center sD-none sD-md-block">02.12.24 12:34</div>
    <div class="table__col sText-align-right">350 Р</div>
  </div>
  {{/repeat}}

</div>

<a href="" class="btn btn--transparent">Еще</a>
{{/ifpage}}



{{#ifpage 'personal-hospital'}}
<!--Поликлиника-->
<h2 class="content__title title sFw-500 sFz-18 sFz-lg-20 sMb-40 sText-transform-none">Немного о нас</h2>
<div class="content__text">
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32</p>
  <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
</div>
{{/ifpage}}
