
<ul class="sidebar__menu menu">
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-user"/>
      </svg>
      Пользователи
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-card"/>
      </svg>
      Новости
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-edit"/>
      </svg>
      Редактор блоков
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-exit"/>
      </svg>
      Выйти
    </a>
  </li>
</ul><!--/.menu-->
