
<ul class="sidebar__menu menu--icon menu">
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-user"/>
      </svg>
      Личные данные
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-card"/>
      </svg>
      Записи
    </a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">
      <svg class="menu__icon" width="30" height="30" aria-hidden="true">
        <use xlink:href="assets/img/sprite/sprite.svg#icon-list"/>
      </svg>
      Выписка
    </a>
  </li>
</ul><!--/.menu-->
