
<!--<ul class="sidebar__menu menu">-->
<!--  <li class="menu__item">-->
<!--    <a href="" class="menu__link">-->
<!--      <svg width="30" height="30" aria-hidden="true">-->
<!--        <use xlink:href="assets/img/sprite/sprite.svg#icon-user"/>-->
<!--      </svg>-->
<!--      Личные данные-->
<!--    </a>-->
<!--  </li>-->
<!--  <li class="menu__item">-->
<!--    <a href="" class="menu__link">-->
<!--      <svg width="30" height="30" aria-hidden="true">-->
<!--        <use xlink:href="assets/img/sprite/sprite.svg#icon-card"/>-->
<!--      </svg>-->
<!--      Медицинские учреждения-->
<!--    </a>-->
<!--  </li>-->
<!--  <li class="menu__item">-->
<!--    <a href="" class="menu__link">-->
<!--      <svg width="30" height="30" aria-hidden="true">-->
<!--        <use xlink:href="assets/img/sprite/sprite.svg#icon-list"/>-->
<!--      </svg>-->
<!--      Выписка-->
<!--    </a>-->
<!--  </li>-->
<!--</ul>&lt;!&ndash;/.menu&ndash;&gt;-->
