
<section class="working-scheme">

  <div class="sContainer">

    <div class="working-scheme__inner">

      <h2 class="working-scheme__title title">Как это работает</h2>

      <div class="sRow sGy-4">

        {{#repeat 6}}
        <div class="sCol-md-4">
          <div class="working-scheme__item">
            <div class="working-scheme__item-inner">
              <img class="working-scheme__img" src="assets/img/icon-plug.svg" width="80" height="80" alt="">
              <p class="working-scheme__text">This book is a treatise on the theory of ethics, very popular during the Renaissance</p>
            </div>
          </div><!--/.working-scheme__item-->
        </div>
        {{/repeat}}

      </div>

    </div><!--/.working-scheme__inner-->

  </div><!--/.sContainer-->

</section><!--/.working-scheme-->
