@use "../variables" as v;
@use "../library/sumbiot/general/mixins" as m;

.btn{
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;

  padding: 15px;

  background-color: v.$white;

  border: none;
  border-radius: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;

  color: v.$primary;

  text-align: center;
  text-decoration: none;

  user-select: none;

  cursor: pointer;

  transition: all 0.2s ease;

  &:focus{
    outline-width: 0;
  }

  @include m.media('lg') {
    &:hover{

    }

    &:active{

    }

    &:focus{
      outline-width: 1px;
    }
  }

  &--primary {
    background-color: v.$primary;

    color: v.$white;

    border: 1px solid rgba(v.$primary,0);

    .registration & {
      width: 100%;

      font-size: 18px;
      font-weight: 700;

      border-width: 2px;

      @include m.media('lg') {
        width: 520px;
      }
    }

    .content--data & {
      padding: 10px 30px;
    }

    &:hover{
      color: v.$primary;

      background-color: v.$white;

      border-color: v.$primary;
    }
  }

  &--transparent {
    border: 1px solid #F1F1F1;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    .content--hospitals-list & {
      padding: 10px 30px;
    }

    &:hover{
      border-color: rgba(v.$primary,0.5);

      box-shadow: none;
    }
  }

}
