@use "../variables" as v;
@use "../library/sumbiot/general/mixins" as m;

.content{

  @include m.media('lg') {
    min-height: 300px;

    padding: 25px 0 25px 25px;

    border-left: 1px solid rgba(v.$primary,0.25);
  }

  &--data{

  }

  &--hospitals-list{

    @include m.media(380) {
      padding: 0 10px;
    }

    @include m.media('sm') {
      padding: 0;
    }

    @include m.media('lg') {
      padding-top: 20px;
      padding-bottom: 45px;
    }
  }

  &--text{
    @include m.media('lg') {
      padding: 0;

      border-left: none;
    }
  }

  &--hospital-full{

  }

  &--extract{

  }

  &--record{

  }

  &--users{

  }

  &--history{

  }

  &--edit-user{

  }

  &--news{

  }

  &--add-news{

  }

  &--edit-news{

  }

  &--page{

  }

  &--edit-page{

  }
}

.content__box{
  margin: 0 0 40px 0;
}

.content__title{
  margin-bottom: 20px;

  @include m.media('lg') {
    margin-bottom: 30px;
  }
}

.content__text{

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }

  ul, ol {
    padding-left: 30px;
  }

  li{
    margin-bottom: 3px;
  }

  a {
    color: v.$primary2;

    &:hover{
      text-decoration: none;
    }
  }
}

.content__form-search{
  margin: 0 0 50px 0;
}

.content__form-page{

}

.content__wrapper-btn{
  display: flex;
  justify-content: flex-end;

  margin-bottom: 40px;
}

.content__breadcrumbs{
  margin: 0 0 40px 0;
}
