@use "../variables" as v;
@use "../library/sumbiot/general/mixins" as m;

.#{v.$prefix}Form{

  &--registration{
    background-color: v.$white;

    padding: 10px 30px 30px 30px;

    border: 2px solid #E9E9E9;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);

    @include m.media('lg') {
      padding: 30px 30px 30px 30px;
    }
  }
}

.#{v.$prefix}Form__inner{

}

.#{v.$prefix}Form__item{

}

.#{v.$prefix}Form__label{
  margin: 0 0 20px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #7D7D7D;

  text-transform: none;

  @include m.media('lg') {
    font-size: 18px;
  }

  @include m.media('xl') {
    font-size: 20px;
  }
}

.#{v.$prefix}Form__input{
  padding: 16px 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;

  line-height: 17px;

  color: #2C3D73;

  border: 1px solid rgba(v.$primary,0.5);
  border-radius: 10px;

  transition: all 0.2s ease;

  &:focus{
    box-shadow: inset 0 0 10px rgba(255, 121, 121, 0.20);

    border-color: #2C3D73;
  }

  .info & {
    border: 1px solid rgba(v.$primary2,0);

    &:focus{
      box-shadow: inset 0 0 10px rgba(255, 121, 121, 0.20);
      border-color: v.$primary2;
    }

  }

  .info & {
    border: 1px solid rgba(v.$primary2,0);

    &:focus{
      box-shadow: inset 0 0 10px rgba(255, 121, 121, 0.20);
      border-color: v.$primary2;
    }

  }

}

.#{v.$prefix}Form__valid{
  border-color: v.$primary2;

  color: v.$primary;

  box-shadow: inset 0 0 10px rgba(255, 121, 121, 0.20);
}

.#{v.$prefix}Form__invalid{
  border-color: rgba(224, 49, 62, 0.5);

  color: #E0313E;

  &.sForm__input {
    box-shadow: inset 0 0 0 1px rgba(224, 49, 62, 0.5);

    &:focus{
      box-shadow: inset 0 0 10px rgba(255, 121, 121, 0.20);
    }
  }

  .sForm__input + &{
    display: block;

    margin: 10px 0 0 0;
  }
}

.#{v.$prefix}Form__valid-text{
  color: #41BE94;
}

.#{v.$prefix}Form__password-inner{
  position: relative;

  margin: 0 0 10px 0;
}

.#{v.$prefix}Form__eye{
  position: absolute;
  top: 50%;
  right: 15px;

  width: 30px;
  height: 30px;

  padding: 0;
  margin: 0;

  background-color: transparent;
  background-image: url(../img/show-password.svg);
  background-position: center;
  background-size: 20px 16px;
  background-repeat: no-repeat;

  border: none;

  opacity: 1;

  transform: translateY(-50%);
  transition: opacity 0.2s ease;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.#{v.$prefix}Form__link{
  color: v.$primary;

  &:hover{
    text-decoration: none;
  }

  &--light{
    color: v.$primary2;
  }
}

.#{v.$prefix}Form__linear{
  display: grid;

  grid-row-gap: 20px;
  grid-column-gap: 20px;

  @include m.media('lg') {
    grid-template-columns: 1fr 1fr;

    grid-column-gap: 20px;
  }
}

.#{v.$prefix}Form__title{
  font-weight: 600;
  font-size: 15px;

  @include m.media('lg') {
    font-size: 20px;
  }

  @include m.media('xl') {
    font-size: 24px;
  }
}

.#{v.$prefix}Form__text{
  margin: 0 0 10px 0;

  &--big{
    font-size: 16px;
  }

  .info & {
    @include m.media('lg') {
      display: none;
    }
  }
}

.#{v.$prefix}Form__file-upload{

  & button{

  }

  & input {

  }
}

.#{v.$prefix}Form__file-btn{

}

.#{v.$prefix}Form__file-name{

}

.#{v.$prefix}Form__preview{

}

.#{v.$prefix}Form__preview-img{

}

