@use "../variables" as v;
@use "../library/sumbiot/general/mixins" as m;

.#{v.$prefix}Form{

  &--registration{
    background-color: v.$white;

    padding: 10px 30px 30px 30px;

    border: 2px solid #E9E9E9;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);

    @include m.media('lg') {
      padding: 30px 30px 30px 30px;
    }
  }

  &--confirm{
    .#{v.$prefix}Form__label{
      margin-bottom: 0;

      font-weight: 400;
      font-size: 16px;

      color: v.$primary;
    }
  }
}

.#{v.$prefix}Form__inner{

  .content__form-search &{
    grid-template-columns: 355px 275px 103px;
    justify-content: space-between;

    & > * {
      grid-column: auto;
    }
  }

  .content__form-search--v2 &{
    grid-template-columns: 275px 103px;
    justify-content: start;
    grid-column-gap: 35px;
  }

  .content__form-search--v3 &{
    grid-template-columns: 348px auto;
  }
}

.#{v.$prefix}Form__item{

}

.#{v.$prefix}Form__label{
  margin: 0 0 20px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #7D7D7D;

  text-transform: none;

  @include m.media('lg') {
    font-size: 18px;
  }

  @include m.media('xl') {
    font-size: 20px;
  }

  .content__form-search &{
    margin-bottom: 0;

    font-size: 16px;

    color: v.$black;
  }

  .content__form-page &{
    margin-bottom: 0;

    font-size: 16px;

    color: v.$black;
  }
}

.#{v.$prefix}Form__input{
  padding: 16px 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;

  line-height: 17px;

  color: #2C3D73;

  border: 1px solid rgba(v.$primary,0.5);
  border-radius: 10px;

  transition: all 0.2s ease;

  &:focus{
    box-shadow: inset 0 0 10px rgba(255, 121, 121, 0.20);

    border-color: #2C3D73;
  }

  .info & {
    border: 1px solid rgba(v.$primary2,0);

    &:focus{
      box-shadow: inset 0 0 10px rgba(255, 121, 121, 0.20);
      border-color: v.$primary2;
    }

  }

  .content--edit-user & {
    font-size: 16px;
  }

  .content__form-search &{
    padding: 5px 15px;

    text-align: center;
  }

  .content__form-page &{
    padding: 5px 15px;

    text-align: center;
  }

}

.#{v.$prefix}Form__textarea{
  display: block;

  width: 100%;
  height: 295px;

  resize: none;

  padding: 10px 30px;

  outline: 0;
  border: 1px solid rgba(v.$primary, 0.50);
  border-radius: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;

  line-height: 17px;

  color: #2C3D73;

  transition: all 0.2s ease;

  // Кнопки боковые
  &::-webkit-scrollbar-button {
    width: 5px;
    height: 0;
  }

  // Цвет дорожки, по которой двигается бегунок прокрутки.
  &::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.05);
    border-radius: 5px;
  }

  // Цвет бегунка полосы, а так же его закругление.
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1);
  }

  // Основная ширина полосы прокрутки.
  &::-webkit-scrollbar {
    width: 5px;
  }

  &:focus{
    box-shadow: inset 0 0 10px rgba(255, 121, 121, 0.20);

    border-color: #2C3D73;
  }
}

.#{v.$prefix}Form__select{
  top: 30px;
  left: 263px;
}

.#{v.$prefix}Form__valid{
  border-color: v.$primary2;

  color: v.$primary;

  box-shadow: inset 0 0 10px rgba(255, 121, 121, 0.20);
}

.#{v.$prefix}Form__invalid, .#{v.$prefix}Form__invalid-all{
  border-color: rgba(224, 49, 62, 0.5);

  color: #E0313E;

  &.sForm__input {
    box-shadow: inset 0 0 0 1px rgba(224, 49, 62, 0.5);

    &:focus{
      box-shadow: inset 0 0 10px rgba(255, 121, 121, 0.20);
    }
  }

  .sForm__input + &{
    display: block;

    margin: 10px 0 0 0;
  }
}

.#{v.$prefix}Form__invalid-all{

  .sForm__input + &{
    font-size: 13px;
  }
}

.#{v.$prefix}Form__valid-text{
  color: #41BE94;
}

.#{v.$prefix}Form__password-inner{
  position: relative;

  margin: 0 0 10px 0;
}

.#{v.$prefix}Form__eye{
  position: absolute;
  top: 50%;
  right: 15px;

  width: 30px;
  height: 30px;

  padding: 0;
  margin: 0;

  background-color: transparent;
  background-image: url(../img/show-password.svg);
  background-position: center;
  background-size: 20px 16px;
  background-repeat: no-repeat;

  border: none;

  opacity: 1;

  transform: translateY(-50%);
  transition: opacity 0.2s ease;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.#{v.$prefix}Form__link{
  color: v.$primary;

  &:hover{
    text-decoration: none;
  }

  &--light{
    color: v.$primary2;
  }
}

.#{v.$prefix}Form__linear{
  display: grid;

  grid-row-gap: 20px;
  grid-column-gap: 20px;

  &--v1{
    @include m.media('lg') {
      grid-template-columns: 1fr 1fr;
    }
  }

  &--v2{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
  }

  &--v3{
    align-items: center;

    grid-template-columns: auto 103px auto 103px;
    grid-column-gap: 10px;
  }

  &--v4{
    align-items: center;

    grid-template-columns: auto 300px;
    grid-column-gap: 10px;
  }

  &--v5{
    align-items: center;

    grid-template-columns: 103px auto 103px;
    grid-column-gap: 10px;
  }

  &--v6{
    align-items: center;

    grid-template-columns: auto auto;
  }
}

.#{v.$prefix}Form__title{
  font-weight: 600;
  font-size: 15px;

  @include m.media('lg') {
    font-size: 20px;
  }

  @include m.media('xl') {
    font-size: 24px;
  }
}

.#{v.$prefix}Form__text{
  margin: 0 0 10px 0;

  &--big{
    font-size: 16px;
  }

  .info & {
    @include m.media('lg') {
      display: none;
    }
  }
}

.#{v.$prefix}Form__file-upload{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: relative;
  overflow: hidden;

  border-radius: 8px;
  border: 1px solid rgba(v.$primary, 0.50);


  & button{
    width: 100%;
    height: 100%;

    border: none;
    padding: 0;
    margin: 0;

    background-color: transparent;

    color: v.$primary;
  }

  & input {
    position: absolute;
    left: 0;
    top: -255px;

    width: 100%;
    height: 100%;

    transform: scale(20);

    opacity: 0;
    cursor: pointer;
  }
}

.#{v.$prefix}Form__file-btn{
  padding: 5px 30px;

  text-align: center;

  border-right: 1px solid rgba(v.$primary, 0.50);
}

.#{v.$prefix}Form__file-name{
  padding: 5px 30px;
}

.#{v.$prefix}Form__preview{
  width: 177px;
  height: 131px;

  margin: 3px 0 0 3px;

  border-radius: 3px;

  overflow: hidden;
}

.#{v.$prefix}Form__preview-img{
  width: 100%;
  height: 100%;

  object-fit: contain;
}

