@use "../variables" as v;
@use "../library/sumbiot/general/mixins" as m;

.header{
  position: sticky;
  top: 0;
  z-index: 10;

  background-color: v.$white;

  border-bottom: 1px solid rgba(44, 61, 115, 0.5);
}

.header__inner{
  min-height: 60px;

  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: center;

  @include m.media('lg') {
    grid-template-columns: auto 1fr auto;
  }
}

.header__logo{
  width: 36px;
  height: 21px;

  align-self: center;

  @include m.media('lg') {
    width: 180px;
  }
}

.header__phone{
  display: none;

  @include m.media('lg') {
    display: inline-block;

    align-self: center;
    justify-self: end;

    margin-right: 50px;

    color: v.$primary;
  }

  &:hover {
    text-decoration: none;
  }
}

.header__navigation{

}

