@use "../variables" as v;
@use "../mixins" as m;

.menu{
  @include m.list();

  font-size: 18px;

  user-select: none;

  @include m.media('lg') {
    font-size: 24px;
  }

  &--footer{
    @include m.media('lg') {
      font-size: 14px;

      .menu__item{
        margin: 0 0 0 10px;
      }

      .menu__link{
        text-decoration: underline;

        &:hover{
          text-decoration: none;

          color: v.$primary;
        }
      }
    }
  }

  &--icon{
    line-height: 18px;

    @include m.media('lg') {
      font-size: 14px;

      line-height: 24px;
    }

    .menu__item{
      margin: 0 0 10px 0;
    }

    .menu__link{
      display: inline-flex;
      align-items: center;

      padding: 0;

      &:hover{
        text-decoration: none;
      }
    }

  }
}

.menu__item{
  margin: 0 0 16px 0;

  &:last-child{
    margin-bottom: 0;
  }
}

.menu__link{
  padding: 5px 0;

  color: v.$primary;

  text-decoration: none;

  transition: all 0.2s ease;

  &:hover{
    text-decoration: underline;

    color: v.$primary2;
  }

  @include m.media('lg') {
    padding: 3px 0;
  }
}

.menu__icon{
  width: 30px;
  height: 30px;

  margin-right: 10px;

  fill: currentColor;
}
