@use "../../variables" as v;
@use ".." as m;

/*
  Миксин Grid
 */

@mixin grid($container, $orientation: v.$orientation, $prefix: v.$prefix) {

  // 1 Выровнить содержимое сетки по горизонтали

  .#{$prefix}G-justify-items{
    @include m.rulesBreakpoint($container,(
      justify-items: left
    ),'left', $orientation);

    @include m.rulesBreakpoint($container,(
      justify-items: center
    ),'center', $orientation);
  }

  .#{$prefix}G-row-gap{
    @include m.rulesBreakpoint($container,(
      grid-row-gap: 20px
    ),'20', $orientation);
  }

}
